<app-header></app-header>
<div class="contacts-body">
  <div
    id="contacts-add-bg"
    class="contacts-add-bg d-none"
    (click)="contactsPg.closeNewContacts()"
  >
    @if (contactsPg.PopupContact) { <app-dialog-contact></app-dialog-contact>}
  </div>
  <div id="contacts-list-section" class="contacts-list-section">
    <button
      class="contacts-button contacts-bt-add contacts-bt-create"
      (click)="contactsPg.showPopupContact()"
    >
      <span> Add new contact</span
      ><img src="assets/img/contacts_add_icon.svg" alt="" />
    </button>
    <div class="contacts-list" id="contacts-list">
      @for (contact of data.contacts; track contact.id; let index = $index) {
      @if (shouldRenderSeparator(index)) {
      <app-letter-seperator
        [letter]="contact.title[0].toUpperCase()"
      ></app-letter-seperator>
      }
      <app-contact-list-tag
        (click)="contactsPg.showContact(contact)"
        [logogram]="contact.logogram"
        [name]="contact.title"
        [email]="contact.email"
        [color]="contact.hex_color"
        [id]="contact.id"
        [i]="index"
      ></app-contact-list-tag>
      }
    </div>
  </div>
  <main id="contacts-main" class="contacts-main d-none-700">
    <div
      (click)="contactsPg.backToContactsList()"
      class="d-none contacts-mobil-arrow-back"
    >
      <img src="assets/img/arrow-left-line.svg" alt="" />
    </div>
    <div class="contacts-head">
      <h2 class="contacts-h2">Contacts</h2>
      <div class="contacts-hr"></div>
      <p class="contacts-head-text">Better with a team</p>
    </div>
    <div id="contact-clicked" class="contact-clicked">
      @if(contactsPg.clickedContact) {
      <app-clicked-contact
        [contact]="contactsPg.clickedContact"
      ></app-clicked-contact>
      }
    </div>
  </main>
</div>
<app-sidebar></app-sidebar>
