<div class="begin">
  <div class="capaAnimation">
    <img class="capaImg" src="assets/img/Capa 1.svg" />
  </div>
  <div class="login" id="login">
    <div class="SignupButton">
      <span class="SignupBtn">Not a Join user?</span>
      <button class="login-button" (click)="scp.showSignUpHideSignUp('show')">
        Sign up
      </button>
    </div>

    <div>
      <h1 class="login-headline">Log in</h1>
    </div>
    <div>
      <img class="VectorImg" src="assets/img/Vector 5.svg" />
    </div>
    <form (ngSubmit)="login()" class="form password-login email-login">
      <div style="display: none" class="error-message" id="login-error">
        Email and/or password are incorrect.
      </div>
      <input
        name="email"
        [(ngModel)]="email"
        required
        class="mail-img"
        type="email"
        placeholder="Email"
        id="email"
      />
      <input
        name="password"
        [(ngModel)]="password"
        required
        class="password-img"
        type="password"
        placeholder="Password"
        minlength="4"
        id="password"
      />
      <div style="margin-top: 60px">
        <button style="margin-left: -140px" class="login-button">Log in</button>
        <div
          id="registrationSuccess"
          class="success-message"
          style="display: none"
        >
          Registrierung erfolgreich abgeschlossen.
        </div>
      </div>
    </form>
    <!-- <button
      onclick="openPage('./html/summary.html');setGuestUser()"
      class="Guest-button"
    > -->
    <!-- <button
      [routerLink]="['/board/']"
      (click)="scp.setGuestUser()"
      class="Guest-button"
    >
      Guest Log in
    </button> -->
    <!-- <div class="checkbox">
      <div id="check">
        <img
          style="cursor: pointer"
          src="assets/img/Check button none.svg"
          (click)="scp.toggleCheckmark('check', 'check-none')"
        />
      </div>
      <div>
        <img
          style="cursor: pointer"
          id="check-none"
          class="d-none"
          src="assets/img/Check button.svg"
          (click)="scp.toggleCheckmark('check', 'check-none')"
        />
      </div>
      <span style="margin-right: 30px">Remember me</span>
      <span class="password" (click)="scp.showForgotPassword('forgot')"
        >Forgot my password</span
      >
    </div> -->
  </div>

  <div class="sign-up d-none" id="sign-up">
    <div>
      <img
        (click)="scp.showSignUpHideSignUp('hide')"
        class="arrow-img"
        src="assets/img/arrow-left-line.svg"
      />
      <h1 class="sign-up-headline">Sign up</h1>
    </div>
    <div>
      <img class="VectorImg" src="assets/img/Vector 5.svg" />
    </div>
    <form
      (ngSubmit)="registerS.register()"
      class="form password-login email-login"
    >
      <div
        style="display: none"
        class="register-error-message"
        id="register-error"
      >
        Your password does not match.
      </div>
      <input
        required
        class="name-img"
        type="text"
        placeholder="Name"
        id="nameregister"
      />
      <input
        required
        class="mail-img"
        type="email"
        placeholder="Email"
        id="emailregister"
      />
      <input
        required
        class="password-img"
        type="password"
        placeholder="Password"
        minlength="4"
        id="passwordregister1"
      />
      <input
        required
        class="password-img"
        type="password"
        placeholder="Password"
        minlength="4"
        id="passwordregister2"
      />
      <button style="margin-top: 60px" id="registerBtn" class="login-button">
        Sign up
      </button>
    </form>
    <div class="checkbox-sign-up">
      <div id="check-sign-up">
        <img
          src="assets/img/Check button none.svg"
          (click)="scp.toggleCheckmark('check-sign-up', 'check-none-sign-up')"
        />
      </div>
      <div>
        <img
          id="check-none-sign-up"
          class="d-none"
          src="assets/img/Check button.svg"
          (click)="scp.toggleCheckmark('check-sign-up', 'check-none-sign-up')"
        />
      </div>
      <div>
        <span class="privacy_policy" style="margin-left: 10px"
          >I accept the
          <a target="_blank" href="./html/privacy_policy.html"
            >Privacy policy</a
          ></span
        >
      </div>
    </div>
  </div>

  <!-- <div id="forgot-password-container" class="forgot-password-container d-none">
    <div>
      <img
        (click)="scp.showSignUpHideSignUp('hide')"
        class="password-arrow-img"
        src="assets/img/arrow-left-line.svg"
      />
      <h1 class="password-headline">I forgot my password</h1>
    </div>
    <div>
      <img class="VectorImg" src="img/Vector 5.svg" />
    </div>
    <div class="password-span">
      <span
        >Don't worry! We will send you an email with the instructions to reset
        your password.</span
      >
    </div>
    <form
      class="password-container email-login"
      onsubmit="return handleForgotPasswordFormSubmit();"
    >
      <input
        id="passwordEmail"
        required
        class="mail-img"
        type="email"
        placeholder="Email"
        name="email"
      />
      <button class="password-btn" type="submit">Send me the email</button>
    </form>
  </div> -->

  <!-- <div id="password-container" class="forgot-password-container d-none">
    <div>
      <img
        (click)="scp.showSignUpHideSignUp('hide')"
        class="password-arrow-img"
        src="assets/img/arrow-left-line.svg"
      />
      <h1 class="password-headline">Reset your password</h1>
    </div>
    <div>
      <img class="VectorImg" src="img/Vector 5.svg" />
    </div>
    <div style="margin-top: 17px" class="password-span">
      <span>Change your account password</span>
    </div>
    <form class="password-container email-login">
      <span
        id="register-error2"
        class="register-error-message-passwort"
        style="display: none"
        >Your password does notmatch.</span
      >
      <input
        id="ForgotPassword1"
        style="margin-bottom: 12px"
        required
        class="password-img"
        type="password"
        placeholder="Password"
        minlength="4"
      />
      <input
        id="ForgotPassword2"
        required
        class="password-img"
        type="password"
        placeholder="Password"
        minlength="4"
      />
      <button
        class="password-btn"
        type="submit"
        onclick="return validatePasswords();"
      >
        email
      </button>
    </form>
  </div> -->
</div>
<input type="checkbox" id="privacyPolicyCheckbox" style="display: none" />
<div class="footer">
  <a [routerLink]="['/privacy-police/']" target="_blank">Privacy Policy</a>
  <a [routerLink]="['/imprint/']" target="_blank">Legal notice</a>
</div>
