<div class="sidebar">
  <div class="sidebarContent">
    <!-- <img
      [routerLink]="['summary']"
      class="sidebarLogo"
      src="assets/img/Capa 2.svg"
      alt="JoinLogo"
    /> -->
    <img
      [routerLink]="['/board/']"
      class="sidebarLogo"
      src="assets/img/Capa 2.svg"
      alt="JoinLogo"
    />
    <div class="sidebarNav">
      <!-- <div [routerLink]="['summary']" class="sidebarBtn sidebarBtnActive">
        <img class="" src="assets/img/Vector.svg" alt="Summary" />
        <span>Summary</span>
      </div> -->
      <div [routerLink]="['/add_task/']" class="sidebarBtn">
        <img class="" src="assets/img/edit_square.svg" alt="Add Task" />
        <span>Add Task</span>
      </div>
      <div [routerLink]="['/board/']" class="sidebarBtn">
        <img class="" src="assets/img/Vector (1).svg" alt="Board" />
        <span>Board</span>
      </div>
      <div [routerLink]="['/contacts/']" class="sidebarBtn">
        <img
          class=""
          src="assets/img/perm_contact_calendar.svg"
          alt="Contacts"
        />
        <span>Contacts</span>
      </div>
    </div>
    <div class="sidebarPrivacy">
      <a
        style="margin-bottom: 20px"
        [routerLink]="['/privacy-police/']"
        target="_blank"
        >Privacy Policy</a
      >
      <a [routerLink]="['/imprint/']" target="_blank">Legal notice</a>
    </div>
  </div>
</div>
