<form #taskForm="ngForm" class="task-form" (ngSubmit)="saveTask(taskForm)">
  <div>
    <h2 class="task-h2">Add Task</h2>
    <div id="task-input-con" class="task-input-con">
      <!-- vorherige Trennung -->

      <div id="task-input-left" class="task-input-left">
        <!-- Title -->
        <label class="task-label"
          ><span>Title<span class="task-star">*</span></span>
          <input
            required
            class="task-input-fd task-input-fd-ti"
            type="text"
            [(ngModel)]="title"
            name="title"
            id="task-title"
            placeholder="Enter a title"
          />
        </label>

        <!-- Description -->
        <label class="task-label"
          >Description
          <textarea
            class="task-input-fd task-input-fd-desc"
            [(ngModel)]="text"
            name="text"
            id="task-description"
            cols="30"
            rows="3"
            placeholder="Enter a Description"
          ></textarea>
        </label>

        <!-- Assigned to -->
        <div class="task-assigned-to-con">
          <label class="task-label" style="margin-bottom: 8px"
            >Assigned to</label
          >
          <div class="task-assigned-to-con">
            <input
              type="button"
              value="Select contacts to assign"
              (click)="
                contactsPg.stopClosing($event);
                taskPg.showAssignedToBt();
                taskPg.addEventListenersToCheckboxes()
              "
              class="task-sub-input-con task-assigned-to"
            />
            <div class="task-assigned-to-sub">
              <div
                (click)="contactsPg.stopClosing($event)"
                id="task-contacts-list-to-assign"
                class="d-none task-contacts-list-to-assign"
              >
                @if(data.contacts.length > 0) { @for(contact of data.contacts;
                track contact.id; let index = $index) {
                <div class="task-contacts-list-to-assign-sub">
                  <label [for]="'contact-' + index">
                    <div
                      [id]="contact.id"
                      [style.backgroundColor]="contact.hex_color"
                      class="task-contacts-color-icon"
                    >
                      {{ contact.logogram }}
                    </div>
                    <span>{{ contact.title }}</span>
                  </label>
                  <input
                    type="checkbox"
                    name="contact"
                    [id]="'contact-' + index"
                    value="contact.title"
                  />
                </div>
                } } @else {
                <p [style.marginLeft.px]="16">&emsp; No contacts yet</p>
                }
              </div>
              <!-- <button
          (click)="
            contactsPg.stopClosing($event); contactsPg.showPopupContact()
          "
          id="add-new-contact-bt"
          class="d-none task-button task-bt-create task-bt-add pos-rel"
        >
          Add new contact
          <img src="assets/img/contacts_add_icon.svg" alt="" />
        </button> -->
            </div>
          </div>
          <div
            id="task-assigned-to-selected-con"
            class="task-assigned-to-selected-con"
          ></div>
        </div>
      </div>
      <!-- left side -->
      <div id="task-hr" class="task-hr"></div>
      <!-- right side -->
      <div id="task-input-right" class="task-input-right">
        <!-- Due date -->
        <label class="task-label"
          ><span>Due date<span class="task-star">*</span></span>
          <input
            required
            class="task-input-fd"
            [(ngModel)]="due_date"
            type="date"
            name="due_date"
            id="task-date"
            placeholder="dd/mm/yyyy"
          />
        </label>

        <!-- Priority -->
        <label class="task-label"
          >Prio
          <div class="task-prio-bt-con">
            <input
              id="prio-bt-Urgent"
              type="button"
              value="Urgent"
              class="task-input-fd task-prio-bt prio-u"
              (click)="task.setTaskPrio('Urgent')"
            />
            <input
              id="prio-bt-Medium"
              type="button"
              value="Medium"
              class="task-input-fd task-prio-bt prio-m"
              (click)="task.setTaskPrio('Medium')"
            />
            <input
              id="prio-bt-Low"
              type="button"
              value="Low"
              class="task-input-fd task-prio-bt prio-l"
              (click)="task.setTaskPrio('Low')"
            />
          </div>
        </label>

        <!-- Categgory -->
        <label class="task-label"
          ><span>Category<span class="task-star">*</span></span>
          <select
            class="task-input-fd"
            [(ngModel)]="category"
            name="category"
            id="category"
            placeholder="Select task category"
          >
            <option value="" disabled selected>Select task category</option>
            <option value="Work">Work</option>
            <option value="Privat">Privat</option>
            <option value="Shopping">Shopping</option>
            <option value="Other">Other</option>
          </select>
        </label>

        <!-- Subtasks -->
        <label class="task-label subtask-lable"
          >Subtasks

          <!-- Subtask Input -->
          <div class="task-sub-input-con" (click)="taskPg.changeToSubText()">
            <div id="task-sub-bt-open" class="flx task-sub-bt-open-con">
              <input
                type="text"
                placeholder="Add new subtask"
                class="task-sub-input"
              />
              <img src="assets/img/add_black.svg" alt="" />
            </div>

            <!--  -->

            <div
              id="task-sub-input-text-con"
              class="d-none flx task-sub-input-text-con"
            >
              <input
                id="task-sub-input-text"
                type="text"
                placeholder=""
                class="task-sub-input"
                minlength="1"
              />
              <div class="flx task-sub-icons">
                <!-- delete from input field -->
                <div (click)="taskPg.deleteInputText()" class="flx">
                  <img src="assets/img/Close.svg" alt="" />
                </div>

                <div class="task-sub-hr"></div>

                <!-- save input value in ul -->
                <div (click)="taskPg.saveInputText()" class="flx">
                  <img
                    class="task-sub-input-img"
                    src="assets/img/task_check_bl.svg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- Show and edit/delete Subtask -->
          <ul id="task-sub-text" class="task-sub-text">
            @for(subtask of taskVar.subtasks; track index; let index = $index) {
            <app-subtask-li
              [subtaskText]="subtask.title"
              [i]="index"
            ></app-subtask-li>
            }
          </ul>
        </label>
      </div>

      <!-- vorherige Trennung -->
    </div>
  </div>
  <div class="task-foot-con">
    <span class="task-foot-text"
      ><span class="task-star">*</span>This field is requierd</span
    >
    <div class="task-button-con">
      <input
        (click)="task.resetTaskForm()"
        type="button"
        value="Clear"
        class="task-button task-bt-clear"
      />
      <input
        type="submit"
        value="Create Task"
        class="task-button task-bt-create"
      />
    </div>
  </div>
</form>
